<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div>
        <h1>Carrito de compras</h1>
        <ul id="products-list">
            {{#each cart.products}}
            <li>
                <h3>{{this.product.title}}</h3>
                <p>Cantidad: {{this.quantity}}</p>
                <p>Precio total: {{this.totalPrice}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
    <a href="/home">Volver a la lista de productos</a>
</body>

</html>